$button-column-count: 4;
$button-row-count: 5;
$button-gap: 50px;

:root {
  --calculator-width: min(375px, 100vw);
  --calculator-height: min(calc(var(--calculator-width) * 1.7), 100vh);

  --calculator-height-unitless: 700; // to be overwritten instantly
  --innerheight-unitless: 700; // to be overwritten instantly

  --scale: 1;
  &.big {
    --scale: calc(
      (var(--innerheight-unitless) * 0.9) / var(--calculator-height-unitless)
    );
  }
}

html,
body {
  inset: 0;
  position: absolute;
  margin: 0;
}
body {
}

.calculator-container {
  position: absolute;
  inset: 0;
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: black;
  max-height: var(--calculator-height);
  max-width: var(--calculator-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.6s cubic-bezier(0.14, 0.38, 0.39, 1);
  transform: scale(var(--scale));
}

.display {
  flex: 1;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  align-items: end;
  font-size: calc(var(--calculator-width) / 4);
  font-weight: 200;
  font-family: system-ui;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, calc(var(--calculator-width) / 5));
  grid-template-rows: repeat(5, calc(var(--calculator-width) / 5));
  gap: calc(var(--calculator-width) / 25);
  padding: calc(var(--calculator-width) / 25);
}

@mixin button {
  &::after {
    background-size: auto 40%;
    background-position-x: min(50%, calc(0.3 * var(--calculator-width) / 5));
    background-position-y: center;
    background-repeat: no-repeat;
  }
  &.pressed::after {
    transition-duration: 0.3s;
    background-color: #d9d9d9;
  }
}

@mixin button-light {
  @include button;

  &::after {
    @content;
    background-color: #a5a5a5;
    color: #000000;
  }

  &.pressed::after {
    background-color: #d9d9d9;
  }
}
@mixin button-mid {
  @include button;

  &::after {
    @content;
    background-color: #333333;
    color: #ffffff;
  }

  &.pressed::after {
    background-color: #737373;
  }
}
@mixin button-primary {
  @include button;

  &::after {
    @content;
    background-color: #f1a33b;
    color: #ffffff;
  }

  &.pressed::after {
    background-color: #f4c995;
  }
}
@mixin button-primary-inverted {
  @include button;

  &::after {
    @content;
    color: #f1a33b;
    background-color: #ffffff;
  }

  &.pressed::after {
    background-color: #f4c995;
  }
}

#grow,
#shrink {
  z-index: 1;
  height: calc(var(--calculator-width) / 7);
  width: calc(var(--calculator-width) / 7);
  position: absolute;
  bottom: calc(var(--calculator-width) / 10);
  right: calc(var(--calculator-width) / 10);

  &.hidden {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #grow,
  #shrink {
    display: none;
  }
}
#grow {
  @include button-mid {
    background-image: url(./images/icons/999999/grow.svg);
  }
}
#shrink {
  @include button-mid {
    background-image: url(./images/icons/999999/shrink.svg);
  }
}

[data-key='c'] {
  @include button-light {
    background-image: url(./images/icons/000000/c.svg);
  }
}
[data-key='ac'] {
  @include button-light {
    background-image: url(./images/icons/000000/ac.svg);
  }
}
[data-key='sign'] {
  @include button-light {
    background-image: url(./images/icons/000000/sign.svg);
  }
}
[data-key='percent'] {
  @include button-light {
    background-image: url(./images/icons/000000/percent.svg);
  }
}
[data-key='divide'] {
  @include button-primary {
    background-image: url(./images/icons/FFFFFF/divide.svg);
  }
  &[data-selected] {
    @include button-primary-inverted {
      background-image: url(./images/icons/F1A33B/divide.svg);
    }
  }
}

[data-key='7'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/7.svg);
  }
}
[data-key='8'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/8.svg);
  }
}
[data-key='9'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/9.svg);
  }
}
[data-key='times'] {
  @include button-primary {
    background-image: url(./images/icons/FFFFFF/times.svg);
  }
  &[data-selected] {
    @include button-primary-inverted {
      background-image: url(./images/icons/F1A33B/times.svg);
    }
  }
}

[data-key='4'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/4.svg);
  }
}
[data-key='5'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/5.svg);
  }
}
[data-key='6'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/6.svg);
  }
}
[data-key='minus'] {
  @include button-primary {
    background-image: url(./images/icons/FFFFFF/minus.svg);
  }
  &[data-selected] {
    @include button-primary-inverted {
      background-image: url(./images/icons/F1A33B/minus.svg);
    }
  }
}
[data-key='1'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/1.svg);
  }
}
[data-key='2'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/2.svg);
  }
}
[data-key='3'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/3.svg);
  }
}
[data-key='plus'] {
  @include button-primary {
    background-image: url(./images/icons/FFFFFF/plus.svg);
  }

  &[data-selected] {
    @include button-primary-inverted {
      background-image: url(./images/icons/F1A33B/plus.svg);
    }
  }
}
[data-key='0'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/0.svg);
  }
}
[data-key='decimal'] {
  @include button-mid {
    background-image: url(./images/icons/FFFFFF/decimal.svg);
  }
}
[data-key='equals'] {
  @include button-primary {
    background-image: url(./images/icons/FFFFFF/equals.svg);
  }
}

button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  &::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
    height: 100%;
    width: 100%;
    border-radius: var(--calculator-width);
  }

  &.btn-double {
    grid-column: span 2;
  }
}
